{% extends 'baseapp/main.html' %}

    {% block contennt %}
     {% load static %}
    <section>

     <div class="cup">

       <div class="cup-1">
         <div>
           <h1 class="top-title">Kenya 2022 Election trending story</h1>
         </div>


         <ul class="card-u">

          {% for p in posts %}

            <li class="card-li">
              <a href="" class="card-a">
                <div class="card-item">
                  <img src="{% static '/img/test.jpeg' %}" alt="" class="img">
                   <div class="card-foot">
                      <h1 class="card-title">{{p.title}} - <font class="time">{{p.time}}</font></h1>
                      <p class="card-desc">{{p.description}}</p>
                   </div>
                 </div>
              </a>
            </li>

            {% endfor %}

         </ul>

      



       </div>

       <div class="cup-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet reprehenderit dolorum provident praesentium accusantium quas sequi velit reiciendis ratione debitis non ea modi voluptates recusandae beatae nemo, sapiente, ipsa blanditiis.
       </div>

     </div>

     <section>
       <footer>
         <div class="footer">
           <center>
             <span>&trpezium;</span> <span>&trpezium;</span> <span>&trpezium;</span> <span>&trpezium;</span>
             <br>
             <br>
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br> Nostrum suscipit distinctio aut.
             <br>
             <br>
             <small>copywright <span>&copy;</span> 2022</small>
           </center>
         </div>
       </footer>
     </section>
    
    </section>
    {% endblock contennt %}
    