<nav>
  <div class="logo-div">
      <h1>Kenya <font>2</font> <font>0</font> <font style="color: red;">2</font> <font style="color: green;">2</font> </h1>
  </div>
  <div>
    <ul class="ul">
      <li><a href="">Trending</a></li>
      <li><a href="">About Us</a></li>
      <li><a href="">Contact Us</a></li>
      <li><a href="{% url 'addpost' %}">Add Post</a></li>
      <li><a href="" class="btn btn-info">Login</a></li>
      <li><a href="" class="btn btn-info">Logout</a></li>
    </ul>
  </div>
</nav>